[Unit]
Description=DualSense to HID Mapper Service
After=gadget-hid.service
Requires=gadget-hid.service

[Service]
Type=simple
ExecStart=/usr/bin/env python3 /opt/ds-config/bin/ds_mapper.py
Restart=on-failure
RestartSec=5
User=root
Group=input
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
